#main-button {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

#main {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%; */
}

.clearDivs {
    background-color: white;
}

/* .allDivs:hover {
    background-color: lightblue;
    /* padding: 10px 15px;
} */
